[Unit]
Description=Apache Kafka Service
Documentation=http://kafka.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}
Environment=JAVA_HOME={{ java_home }}
ExecStart={{ kafka_extract_dir }}/bin/kafka-server-start.sh {{ kafka_extract_dir }}/config/server.properties
ExecStop={{ kafka_extract_dir }}/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target